/* styles.css */
img.img-fluid {
    transition: transform 0.3s ease;
}

img.img-fluid:hover {
    transform: scale(1.1);
}

/* styles.css -> images.html*/
.fullscreen-img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    height: 100vh;
}

.fullscreen-img img {
    max-width: 90%;
    max-height: 90%;
}